---
import Layout from '@/layouts/default/index.astro';
import { Content } from "@/content/data/about.mdx"
import Seo from "@/components/common/Seo.astro";
---

<Seo
  title="公司介绍"
  description="Kagami Studio 是 Neon Prizma 旗下专注于 osu! 与各种音乐游戏相关产品开发的工作室。"
  keywords="Neon Prizma, Kagami Studio, 公司介绍, 猫盘, pure64, meowpad, desu.life"
/>

<Layout>
    <div class="about-container">
        <div class="prose dark:prose-invert w-[60vw] max-w-none">
            <Content />
        </div>
    </div>
</Layout>

<style>
    .about-container {
        width: 70vw;
        margin: 0 auto;
        padding: 2rem 0;
    }
</style>