---
import Seo from "@/components/common/Seo.astro";
import Layout from '@/layouts/default/index.astro';
import { Content } from "@/content/data/contact.mdx"
---

<Seo
  title="联系我们"
  description="Kagami Studio 为您提供多种联系方式，欢迎随时联系我们获取技术支持。"
  keywords="Kagami Studio, 联系我们, 猫盘, pure64, meowpad, desu.life"
/>

<Layout>
    <div class="contact-container">
        <div class="prose dark:prose-invert w-[60vw] max-w-none">
            <Content />
        </div>
    </div>
</Layout>

<style>
    .contact-container {
        width: 70vw;
        margin: 0 auto;
        padding: 2rem 0;
    }
</style>