---
import Layout from '@/layouts/default/index.astro';
import { Content } from "@/content/data/terms.mdx"
---

<head>
	<meta charset="UTF-8" />
	<title>服务条款 | Kagami Studio 支持</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
</head>

<Layout>
    <div class="terms-container">
        <div class="prose dark:prose-invert w-[60vw] max-w-none">
            <Content />
        </div>
    </div>
</Layout>

<style>
    .terms-container {
        width: 70vw;
        margin: 0 auto;
        padding: 2rem 0;
    }
</style>