---
import Seo from "@/components/common/Seo.astro";
import Layout from '@/layouts/default/index.astro';
import { Content } from "@/content/data/terms.mdx"
---

<Seo
  title="服务条款"
  description="Kagami Studio 服务条款。在使用我们的产品和服务之前，请仔细阅读本服务条款。"
  keywords="Kagami Studio, 服务条款, meowpad, desu.life"
/>

<Layout>
    <div class="terms-container">
        <div class="prose dark:prose-invert w-[60vw] max-w-none">
            <Content />
        </div>
    </div>
</Layout>

<style>
    .terms-container {
        width: 70vw;
        margin: 0 auto;
        padding: 2rem 0;
    }
</style>