---
import Devices from "@/components/sections/Devices.astro";
import Layout from "@/layouts/default/index.astro";
---

<head>
    <meta charset="UTF-8" />
    <title>产品 | Kagami Studio 支持</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
</head>

<Layout>
    <Devices />
</Layout>
